 {% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Maisons</title>
   
        <link rel="stylesheet" href="{% static 'categorie/css/home.css' %}">
    
</head>
<body>
<header>Maisons</header>

<div class="container">
    <a  style="text-decoration:none; text-align:center;" href="{% url 'maison:formulaire' matricule     %}" class="add-btn" >+ Ajouter une catégorie</a>
    <a  style="text-decoration:none; text-align:center;" href="{% url 'gestionnaire:dashboard' matricule     %}" class="add-btn" >Retourner</a>

    <ul class="category-list">
      {% for categorie in  categories %}
       <li class="category-item">
            <span>{{categorie.adresse}}</span>
            <div class="action-buttons">
                <a href="{% url 'maison:form' categorie.id  %}" title="Modifier cette catégorie">
                <img   style="width:20px; height:20px;" src="{% static 'categorie/img/modifier.svg' %}" alt="supprimer">
                </a>
                <a href="{% url 'maison:delete' categorie.id  %}" title="Supprimer cette catégorie">
                <img   style="width:20px; height:20px;" src="{% static 'categorie/img/supprimer.svg' %}" alt="supprimer">
                </a>
                <a href="{% url 'maison:detail' categorie.id  %}" title="Voir les détails de cette catégorie">
                <img   style="width:20px; height:20px;" src="{% static 'categorie/img/detail.svg' %}" alt="supprimer">
                </a>
            </div>
        </li>
        {% endfor %}
        
    </ul>
</div>

</body>
</html>
