{% extends 'base.html' %}
{% load static %}



{% block content %}





<section class="section1">

   
    
    
        
        <nav>
            <div class="image"><img src="static/section1/img/white-logo.svg" alt="bonjour"></div>
            <div class="link">
    
                <a href="" class="nav-item">Home</a>
                <a href="" class="nav-item">Features</a>
                <a href="" class="nav-item">Overview</a>
                <a href="" class="nav-item">Pricing</a>
                <a href="" class="nav-item">Team</a>
                <a href="" class="nav-item">Reviews</a>
    
    
            </div>
            <button>GET it Now </button>
        </nav>
        <section class="main">
            <div class="content">
                <div class="text">
                    <div class="texte">
                        <h1>Create Landing Page
                            <br />Easy, Super Fast
                        </h1>

                    </div>
                    <p>
                        From open source to pro services,piques helps you to build
                        <br />deploy,test,and monitor apps.
                    </p>
                    <div class="valide">
                        <input type="email" placeholder="you email address" />
                        <button>Start Free Trial</button>

                    </div>

                    <footer>
                        <div class="cercle">
                            <img class="video" src="static/section1/img/video.png" />
                        </div>
                        <p>How Appmeet works for you?</p>
                    </footer>
                </div>
                <div class="img">
                    <img src="static/section1/img/woman-image.png" />
                </div>
            </div>
        </section>
    
    <!----fghusfghsuihgfusiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->
</section>

{% include 'section2.html' %}
{% endblock %}




<p>bjvbjbjbjbjvbjbj</p>