



<section class="section2">
    <div class="main">
        <div class="texte">
            <button>FEATURES</button>
            <h3>Appmeet Has Awesome <br/>Stunning Features</h3>
            <p>There are many variations of passages of Lorem ipsum available,but the  <br/>majority have suffered alteration in some form </p>
        </div>
        <div class="cards">
           
            <div class="card">
                <div class="img"><img src="static/section2/img/coeur.png" alt=""></div>
                <h5>Simple & Light</h5>
                <p>
                    Appmeet is a completely creative,<br/> lightweight clean & super responsive<br/> app landing page

                </p>
            </div>
            <div class="card">
                <div class="img" ><img src="static/section2/img/case.png" alt=""></div>
                <h5>Super Responsive</h5>
                <p>
                    Appmeet is a completely creative,<br/> lightweight clean & super responsive<br/> app landing page
                </p>
            </div>
            <div class="card">
                <div class="img"><img src="static/section2/img/bug.png" alt=""></div>
                <h5>Bug Free Code</h5>
                <p>
                    Appmeet is a completely creative,<br/> lightweight clean & super responsive<br/> app landing page

                </p>
            </div>
        </div>
    </div>
</section>
